#sbtn:hover{
    cursor: pointer;
}

#sbtn a{
    text-decoration: none;
}

#middle{
    background-color: #f4f4f4;
    margin: 20px;
}

input,select,a{
    margin: 10px;
}

#tb-income,#tb-expense{
    margin:auto;
    width: 100%;
    display: inline-block;
}

#bot a{
    margin: auto;
    color:crimson;
}
#bot a:hover{
    cursor: pointer;
    text-decoration: none;
}